<a href="https://colab.research.google.com/github/vicentegilso/DATAKNOWLEDGE/blob/master/Bitcoin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Descargamos librerías ###


%pip install tensorflow==2.1
%pip install keras-tcn
%matplotlib inline
import tensorflow as tf
import tensorflow.keras as keras
from tensorflow.keras.datasets import mnist
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten, Conv1D, MaxPool1D, LSTM, Input, GRU
from tensorflow.keras import backend as K
from tcn import TCN
import numpy as np
import pandas as pd
from collections import defaultdict
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from sklearn.metrics import mean_absolute_error
import datetime
import random
import math
import datetime as dt
from pandas_datareader import data

In [ ]:
#Cargamos el histórico de Bitcoin

dataset_raw = data.DataReader('BTC-EUR','yahoo', dt.datetime(2021,3,1), dt.datetime.now())

dataset_raw.head()

                    High           Low  ...       Volume     Adj Close
Date                                    ...
2021-03-01  41319.687500  37313.160156  ...  44727892898  41192.191406
2021-03-02  41606.484375  39066.093750  ...  39330914776  40032.695312
2021-03-03  43555.671875  39945.792969  ...  44179660436  41952.804688
2021-03-04  42899.511719  39813.218750  ...  43739383062  40578.535156
2021-03-05  41470.574219  38919.175781  ...  40823509587  41076.527344

[5 rows x 6 columns]

In [ ]:
dataset_raw.tail()

                    High           Low  ...       Volume     Adj Close
Date                                    ...
2021-04-15  53170.593750  50238.839844  ...  70347656605  51386.250000
2021-04-16  52222.050781  50376.921875  ...  55198680900  50646.050781
2021-04-17  50957.882812  44089.468750  ...  81435535596  46968.792969
2021-04-18  47856.800781  45194.273438  ...  54266362065  46276.832031
2021-04-20  46851.710938  44331.605469  ...  54431150080  46524.781250

[5 rows x 6 columns]